.DateInput_input {
    padding: 4px;
    font-size: 14px;
}

.date_range_input {
    min-width: 350px;
}

.card-body {
    padding: 7px;
}

.Select-menu-outer {
    min-width: 200px;
}

.Select-arrow-zone {
    display: None;
}

.Select-control {
    border: 1px solid #cccccc33;
    box-shadow: 0px;
    background-color: #ffffff00;
}

.has-value .Select-control {
    border: 1px solid #ccccccff;
}


.metric-type-dropdown {
    width: 180px;
    margin-right: 8px;
}

.metric-type-dropdown-option {
    display: flex;
    align-items: center;
    justify-content: center;
}

.metric-type-dropdown .Select-menu-outer {
    min-width: 180px;
}